<!-- Hero 3 - Bootstrap Brain Component -->
<section class="py-3 py-lg-5 bg-theme py-xl-8">
  <div class="container overflow-hidden">
    <div class="row gy-5 gy-lg-0 align-items-lg-center justify-content-lg-between">
      <div class="col-12 col-lg-6 order-1 order-lg-0">
        <h2 class="display-3 fw-bold mb-3">Your Source for Health Analytics and Informatics</h2>
        <p class="mb-3 mb-xl-4">Our Primary Objective is to establish an informatics culture in institutions that serve
          the general public.</p>
        <div class="d-grid gap-2 d-sm-flex">
          <button routerLink="/projects" type="button" class="btn btn-sm basic-button bsb-btn-2xl rounded-pill">Explore
            More</button>
          <button routerLink="/contact" type="button" class="btn btn-sm button-outline bsb-btn-2xl rounded-pill">Contact
            Us</button>
        </div>
      </div>
      <div class="col-12 col-lg-5 text-center">
        <div class="position-relative">
          <div class="bsb-circle border border-4 border-warning position-absolute top-50 start-10 translate-middle z-1">
          </div>
          <div class="bsb-circle bg-primary position-absolute top-50 start-50 translate-middle"
            style="--bsb-cs: 460px;"></div>
          <div class="bsb-circle border border-4 border-warning position-absolute top-10 end-0 z-1"
            style="--bsb-cs: 100px;"></div>
          <img class="img-fluid position-relative z-2" loading="lazy" src="assets/images/MainLogo.png"
            alt="A Digital Agency Specialized in AI and Web 3.0">
        </div>
      </div>
    </div>
  </div>
</section>