<section class="section bg-light border-top" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="about-title text-center mb-5">
                    <h6 class="text-dark text-uppercase mb-0">About Us</h6>
                    <h3 class="title-heading">Who we are?</h3>
                    <div class="title-border"></div>
                    <p class="text-muted pt-3 mx-md-5">
                        The name Hodari is an acronym for Health and other Data Analytics, Research and Informatics
                        Initiatives and is a Tanzanian advocacy and operational Non-Governmental Organization founded
                        this year in Zanzibar.
                        Our primary objective is to establish an informatics culture in institutions that serve the
                        general public.
                    </p>
                </div>
                <!--end about-title-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-center mb-4 pb-2">
                    <ul class="nav nav-pills about-tab" id="aboutus" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link rounded-3 active btn-success" id="history-tab" data-bs-toggle="pill"
                                data-bs-target="#history" type="button" role="tab" aria-controls="history"
                                aria-selected="false">History</button>
                        </li>
                        <!--end nav-item-->
                        <li class="nav-item mx-3" role="presentation">
                            <button class="nav-link rounded-3 btn-success" id="vision-tab" data-bs-toggle="pill"
                                data-bs-target="#vision" type="button" role="tab" aria-controls="vision"
                                aria-selected="false">Vision</button>
                        </li>
                        <!--end nav-item-->
                        <li class="nav-item" role="presentation">
                            <button class="nav-link rounded-3 btn-success" id="mission-tab" data-bs-toggle="pill"
                                data-bs-target="#mission" type="button" role="tab" aria-controls="mission"
                                aria-selected="true">Mission</button>
                        </li>
                        <!--end nav-item-->
                    </ul>
                    <!--nav-->
                </div>

                <div class="tab-content about-content" id="tabContent">
                    <div class="tab-pane fade active show" id="history" role="tabpanel" aria-labelledby="history-tab">
                        <div class="row align-items-center">
                            <div class="col-md-5">
                                <div class="history-img text-lg-end text-center mb-4 mb-lg-0">
                                    <img src="https://www.bootdey.com/image/312x315/FFB6C1/000000" alt="history"
                                        class="img-fluid rounded-circle">
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-md-7">
                                <div class="card border-0 p-3 ms-lg-4">
                                    <h4 class="about-title">Background</h4>
                                    <!-- <p class="mt-4 pt-3 text-muted mb-2"><em>Lorem Ipsum has been the industry's
                                            standard dummy text ever make a type since the 1500s.</em></p> -->
                                    <p class="text-muted mt-3">
                                        HODARI Initiative is a national advocacy and operational Non-Governmental
                                        Organization;
                                        whose primary objective is to establish informatics culture in institutions that
                                        serve the public.
                                        There is a global demand to enforce informatics culture and enhance
                                        productivity,
                                        however this requires combined effort from both governmental and
                                        non-governmental organizations.
                                        Informatics is the key to inform policy makers, implementers, and users of
                                        information to
                                        obtain main objectives through data use to tackle major challenges and
                                        adequately allocating the
                                        limited resources we have. These transformations need to realign our information
                                        sources,
                                        workforce training and multiple demonstrations though research and Innovations.
                                        We acknowledge the efforts of our governments to grow ICT, its application lies
                                        in proper
                                        integration with information users and Informatics is the bridge. HODARI
                                        Initiative believes in
                                        capitalizing the ICT potential to
                                        deepen usability and unleash the potential of information in our health sector
                                        and beyond.
                                    </p>
                                    <div class="d-flex">
                                        <div class="about-social">
                                            <a href="#" class="text-primary">
                                                <i class="mdi mdi-facebook"></i>
                                            </a>
                                        </div>
                                        <div class="about-social mx-2">
                                            <a href="#" class="text-primary"><i class="mdi mdi-google"></i> </a>
                                        </div>
                                        <div class="about-social">
                                            <a href="#" class="text-primary"><i class="mdi mdi-instagram"></i> </a>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <a href="#" class="text-primary">Learn More <span class="f-20">→</span></a>
                                    </div>
                                </div>
                                <!--end card-->
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <div class="tab-pane fade" id="vision" role="tabpanel" aria-labelledby="vision-tab">
                        <div class="row align-items-center">
                            <div class="col-md-7">
                                <div class="card border-0 p-3 me-lg-4">
                                    <h4 class="about-title">Vision</h4>
                                    <!-- <p class="mt-4 pt-3 text-muted mb-2"><em>Lorem Ipsum has been the industry's
                                            standard dummy text ever make a type since the 1500s.</em></p> -->
                                    <p class="text-muted mt-3">
                                        HODARI Initiative envisions the Tanzanian public and private sector being data
                                        literate,
                                        where health and other sectors are managed through thriving informatics
                                        ecosystems for the public good
                                    </p>
                                    <a href="#" class="text-primary">Learn More <span class="f-20">→</span></a>
                                </div>
                                <!--end card-->
                            </div>
                            <!--end col-->
                            <div class="col-md-5">
                                <div class="vision-img text-lg-end text-center mb-4 mb-lg-0">
                                    <img src="https://www.bootdey.com/image/312x315/20B2AA/000000" alt="vision"
                                        class="img-fluid rounded-circle">
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end vision-tab-->
                    <div class="tab-pane fade mission-tab" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                        <div class="row align-items-center">
                            <div class="col-md-5">
                                <div class="mission-img text-lg-end text-center mb-4 mb-lg-0">
                                    <img src="https://www.bootdey.com/image/312x315/87CEFA/000000" alt="mission"
                                        class="img-fluid rounded-circle">
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-md-7">
                                <div class="card border-0 p-3 me-lg-4">
                                    <h4 class="about-title">Mission</h4>
                                    <!-- <p class="mt-4 pt-3 text-muted mb-2"><em>Lorem Ipsum has been the industry's
                                            standard dummy text ever make a type since the 1500s.</em></p> -->
                                    <p class="text-muted mt-3">
                                        To strengthen and streamline data and systems frameworks while simultaneously
                                        upskill labor that
                                        supports evidence-based management of health and other sectors through data
                                        science capacity building,
                                        consultation, research, and innovation.
                                    </p>
                                    <a href="#" class="text-primary">Learn More <span class="f-20">→</span></a>
                                </div>
                                <!--end card-->
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end mission-tab-->
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
</section>