<!-- Team 1 - Bootstrap Brain Component -->
<!-- <section class="bg-light py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="mb-4 display-5 text-center">Our Team</h2>
                <p class="text-dark mb-5 text-center lead fsize-10">We are a group of innovative, experienced, and
                    proficient teams. You will love to collaborate with us.</p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>

    <div class="container overflow-hidden">
        <div class="row gy-4 gy-lg-0 gx-xxl-5">
            <div class="col-12 col-md-6 col-lg-2">
                <div class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                    <div class="card-body p-0">
                        <figure class="m-0 p-0">
                            <img class="img-fluid" loading="lazy" src="assets/images/user-image.png"
                                alt="Flora Nyra">
                            <figcaption class="m-0 p-4">
                                <h4 class="mb-1">Visram Merali</h4>
                                <p class="text-secondary mb-0">Technical Advisor</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <div class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                    <div class="card-body p-0">
                        <figure class="m-0 p-0">
                            <img class="img-fluid" loading="lazy" src="assets/images/user-image.png"
                                alt="Evander Mac">
                            <figcaption class="m-0 p-4">
                                <h4 class="mb-1">Rosa Eckle</h4>
                                <p class="text-secondary mb-0">Grants Advisor</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <div class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                    <div class="card-body p-0">
                        <figure class="m-0 p-0">
                            <img class="img-fluid" loading="lazy" src="assets/images/user-image.png"
                                alt="Taytum Elia">
                            <figcaption class="m-0 p-4">
                                <h4 class="mb-1">Sarah Kassim Gharib</h4>
                                <p class="text-secondary mb-0">Health Sector Advisor</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <div class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                    <div class="card-body p-0">
                        <figure class="m-0 p-0">
                            <img class="img-fluid" loading="lazy" src="assets/images/user-image.png"
                                alt="Wylder Elio">
                            <figcaption class="m-0 p-4">
                                <h4 class="mb-1">Mwanajuma Mgeni</h4>
                                <p class="text-secondary mb-0">Academic Advisor</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <div class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                    <div class="card-body p-0">
                        <figure class="m-0 p-0">
                            <img class="img-fluid" loading="lazy" src="assets/images/user-image.png"
                                alt="Wylder Elio">
                            <figcaption class="m-0 p-4">
                                <h4 class="mb-1">Naima Mwinzangu</h4>
                                <p class="text-secondary mb-0">Legal Advisor</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <div class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                    <div class="card-body p-0">
                        <figure class="m-0 p-0">
                            <img class="img-fluid" loading="lazy" src="assets/images/user-image.png"
                                alt="Wylder Elio">
                            <figcaption class="m-0 p-4">
                                <h4 class="mb-1">Ahlam Ally Amour</h4>
                                <p class="text-secondary mb-0">Health System Advisor</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<div class="bg-theme text-secondary px-4 py-5 text-center border-color">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-dark">Our Team</h1>
        <div class="col-lg-6 mx-auto">
            <p>
                We are a group of innovative, experienced, and
                proficient teams. You will love to collaborate with us.
            </p>
            <p class="fs-5 mb-4">Home / Team</p>
            <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Custom button</button>
                <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
            </div> -->
        </div>
    </div>
</div>
<!-- Profile 1 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 py-xl-8">
    <!-- <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="mb-4 display-5 text-center">Our Team</h2>
                <p class="text-dark mb-5 text-center lead fsize-10">We are a group of innovative, experienced, and
                    proficient teams. You will love to collaborate with us.</p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div> -->

    <div class="container">
        <div class="row gy-4 gy-lg-0">

            <div class="col-12 col-lg-12 col-xl-12">
                <div class="card widget-card border-light shadow-sm">
                    <div class="card-body p-4">
                        <ul class="nav nav-tabs" id="profileTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab"
                                    data-bs-target="#overview-tab-pane" type="button" role="tab"
                                    aria-controls="overview-tab-pane" aria-selected="true">Founders</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#profile-tab-pane" type="button" role="tab"
                                    aria-controls="profile-tab-pane" aria-selected="false">Board Members</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="email-tab" data-bs-toggle="tab"
                                    data-bs-target="#email-tab-pane" type="button" role="tab"
                                    aria-controls="email-tab-pane" aria-selected="false">Advisory Members
                                </button>
                            </li>
                            <!-- <li class="nav-item" role="presentation">
                                <button class="nav-link" id="password-tab" data-bs-toggle="tab"
                                    data-bs-target="#password-tab-pane" type="button" role="tab"
                                    aria-controls="password-tab-pane" aria-selected="false">Password</button>
                            </li> -->
                        </ul>
                        <div class="tab-content pt-4" id="profileTabContent">
                            <div class="tab-pane fade show active" id="overview-tab-pane" role="tabpanel"
                                aria-labelledby="overview-tab" tabindex="0">
                                <div class="container overflow-hidden">
                                    <div class="row gy-4 gy-lg-0 gx-xxl-5">
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-female-removebg-preview.png"
                                                            alt="Flora Nyra">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Zeyana Hamid</h4>
                                                            <p class="text-secondary mb-0">Founder 1</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-image.png" alt="Evander Mac">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Ally Saleh</h4>
                                                            <p class="text-secondary mb-0">Founder 2</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-image.png" alt="Taytum Elia">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Abdallah Abeid</h4>
                                                            <p class="text-secondary mb-0">Founder 3</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-image.png" alt="Wylder Elio">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Yussuf Emiru</h4>
                                                            <p class="text-secondary mb-0">Founder 3</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-image.png" alt="Wylder Elio">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Abdulrahman M. Hafid</h4>
                                                            <p class="text-secondary mb-0">Founder 3</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-image.png" alt="Wylder Elio">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Hassan Mshimba</h4>
                                                            <p class="text-secondary mb-0">Founder 3</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel"
                                aria-labelledby="profile-tab" tabindex="0">
                                <div class="container overflow-hidden">
                                    <div class="row gy-4 gy-lg-0 gx-xxl-5">
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-image.png" alt="Flora Nyra">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Mr. Ally Saleh
                                                            </h4>
                                                            <p class="text-secondary mb-0">Chair Person</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-image.png" alt="Evander Mac">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Dr. Mohammed Dahoma</h4>
                                                            <p class="text-secondary mb-0">Board Member</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-image.png" alt="Taytum Elia">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Dr. Masoud Mahundi</h4>
                                                            <p class="text-secondary mb-0">Board Member</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-female-removebg-preview.png"
                                                            alt="Wylder Elio">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Ms. Rabia Hamid</h4>
                                                            <p class="text-secondary mb-0">Board Member</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-female-removebg-preview.png"
                                                            alt="Wylder Elio">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Ms. Asma Jidawy</h4>
                                                            <p class="text-secondary mb-0">Board Member</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-image.png" alt="Wylder Elio">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Mr. Ally Salim</h4>
                                                            <p class="text-secondary mb-0">Board Member</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="email-tab-pane" role="tabpanel" aria-labelledby="email-tab"
                                tabindex="0">
                                <div class="container overflow-hidden">
                                    <div class="row gy-4 gy-lg-0 gx-xxl-5">
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-image.png" alt="Flora Nyra">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Visram Merali</h4>
                                                            <p class="text-secondary mb-0">Technical Advisor</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-female-removebg-preview.png"
                                                            alt="Evander Mac">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Rosa Eckle</h4>
                                                            <p class="text-secondary mb-0">Grants Advisor</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-female-removebg-preview.png"
                                                            alt="Taytum Elia">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Sarah Kassim Gharib</h4>
                                                            <p class="text-secondary mb-0">Health Sector Advisor</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-female-removebg-preview.png"
                                                            alt="Wylder Elio">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Mwanajuma Mgeni</h4>
                                                            <p class="text-secondary mb-0">Academic Advisor</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-female-removebg-preview.png"
                                                            alt="Wylder Elio">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Naima Mwinzangu</h4>
                                                            <p class="text-secondary mb-0">Legal Advisor</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-2">
                                            <div
                                                class="card border-0 border-bottom border-success shadow-sm overflow-hidden">
                                                <div class="card-body p-0">
                                                    <figure class="m-0 p-0">
                                                        <img class="img-fluid" loading="lazy"
                                                            src="assets/images/user-female-removebg-preview.png"
                                                            alt="Wylder Elio">
                                                        <figcaption class="m-0 p-4">
                                                            <h4 class="mb-1">Ahlam Ally Amour</h4>
                                                            <p class="text-secondary mb-0">Health System Advisor</p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="tab-pane fade" id="password-tab-pane" role="tabpanel"
                                aria-labelledby="password-tab" tabindex="0">
                                <form action="#!">
                                    <div class="row gy-3 gy-xxl-4">
                                        <div class="col-12">
                                            <label for="currentPassword" class="form-label">Current Password</label>
                                            <input type="password" class="form-control" id="currentPassword">
                                        </div>
                                        <div class="col-12">
                                            <label for="newPassword" class="form-label">New Password</label>
                                            <input type="password" class="form-control" id="newPassword">
                                        </div>
                                        <div class="col-12">
                                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                                            <input type="password" class="form-control" id="confirmPassword">
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary">Change Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<app-inside-footer></app-inside-footer>