<!-- coming-soon.component.html -->

<section class="coming-soon-area coming-soon-one d-flex align-items-center bg_cover">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="coming-soon-content text-center">
                    <div class="countdown">
                        <ul id="countdown-example">
                            <li>
                                <span class="count days">{{ days }}</span>
                                <p class="text days_text">Days</p>
                            </li>
                            <li>
                                <span class="count hours">{{ hours }}</span>
                                <p class="text hours_text">Hours</p>
                            </li>
                            <li>
                                <span class="count minutes">{{ minutes }}</span>
                                <p class="text minutes_text">Minutes</p>
                            </li>
                            <li>
                                <span class="count seconds">{{ seconds }}</span>
                                <p class="text seconds_text">Seconds</p>
                            </li>
                        </ul>
                    </div>
                    <h2 class="coming-soon-title">coming soon</h2>
                    <div class="coming-soon-btn rounded-buttons">
                        <ul>
                            <li>
                                <a routerLink="" class="btn btn-sm basic-button rounded-full">
                                    HOME
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="btn btn-sm button-outline rounded-full">
                                    GET NOTIFY
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-inside-footer></app-inside-footer>