<!-- FAQ 2 - Bootstrap Brain Component -->
<section class="bsb-faq-2 bg-light border-top py-3 py-md-5 py-xl-8" id="about">
    <div class="container">
        <div class="row gy-5 gy-lg-0">
            <div class="col-12 col-lg-6">
                <h3 class="fs-6 text-dark mb-3 mb-xl-4 text-uppercase"> About Us</h3>
                <p class="mb-3 mb-xl-4">

                    Our mission is to strengthen and streamline data and systems frameworks while simultaneously
                    upskilling ICT users on platforms that support evidence based management of health and other sectors
                    through
                    data science capacity building, consultation, research and innovation.
                </p>
                <a routerLink="/about" class="btn btn-sm bsb-btn-2xl button-outline">Learn More</a>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row justify-content-xl-end">
                    <div class="col-12 col-xl-11">
                        <div class="accordion accordion-flush" id="accordionExample">
                            <div class="accordion-item mb-4 shadow-sm">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button bg-transparent fw-bold" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        Who we are?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            The name Hodari is an acronym for Health and other Data Analytics,
                                            Research and Informatics Initiatives and is a Tanzanian advocacy and
                                            operational
                                            Non-Governmental Organization founded this year in Zanzibar.
                                            Our primary objective is to establish an
                                            informatics culture in institutions that serve the general public.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-4 shadow-sm">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed bg-transparent fw-bold" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        Our Vision
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                                    <div class="accordion-body">
                                        HODARI Initiative envisions the Tanzanian public and private sector being data
                                        literate,
                                        where health and other sectors are managed through thriving informatics
                                        ecosystems for the public good.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-4 shadow-sm">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed bg-transparent fw-bold" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Our Mission
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree">
                                    <div class="accordion-body">
                                        that supports evidence-based management
                                        of health and other sectors through data science capacity building,
                                        consultation, research, and innovation.
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="accordion-item mb-4 shadow-sm">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed bg-transparent fw-bold" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        Our Objective
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse"
                                    aria-labelledby="headingFour">
                                    <div class="accordion-body">
                                        HODARI Initiative’s general objective is to establish informatics culture in
                                        institutions that serve the population. With priority set in health care,
                                        people's
                                        information can be shared for awareness, disease prevention,
                                        operation, and policy creation. Successes in health care can stage a
                                        country-wide
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-4 shadow-sm">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed bg-transparent fw-bold" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                        Our Core Value
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse"
                                    aria-labelledby="headingFive">
                                    <div class="accordion-body">
                                        HODARI Initiative aligns its objectives with overarching data challenges
                                        surrounding our Ministries of health
                                        and pilot capacity building and innovations for other sectors to benefit from.
                                        Our doors are open to collaborate in building informatics atmospheres in
                                        governments
                                        and private institutions serving the public good regardless of the
                                        organization’s business,
                                        strategic ideology, or geographical constraints. We are interdisciplinary and
                                        hence believe in advocacy,
                                        collaboration, dedication, data ethics and accountability.
                                        We are independent from political, governmental, or religious institutions.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item shadow-sm">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed bg-transparent fw-bold" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                                        aria-controls="collapseSix">
                                        Area of operation
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix">
                                    <div class="accordion-body">
                                        The Organization shall operate within and in every part of Zanzibar and
                                        gradually expand to
                                        Tanzania and beyond. HODARI Initiative Zanzibar will continue to be the National
                                        headquarters
                                        until decided otherwise by the board members. All branches shall be established
                                        in
                                        accordance with the law governing registration and operations of NGOs in
                                        Zanzibar and Tanzania.
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>